# genereta secret: openssl rand -base64 32
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Backend URL
NEXT_PUBLIC_API_BASE_URL=

# Yandex Metrika
NEXT_PUBLIC_YM_ID=

# Google Analytics
NEXT_PUBLIC_GA_ID=

